body {
  background-image: url("../img/m:dc.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1c0831;
}
h1 {
  color: #1c74bb;
  text-align: center;
}
.button {
  background-color: white;
}
.stat {
  color: white;
}
.picture {
  width: 30%;
  height: 50%;
  color: white;
  height: 100px;
  width: 100px;
}
.noname {
  height: 40px;
  width: 50px;
  clear: left;
}
.coolpic {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 8px 19px 30px black;
  box-shadow: 5px 8px 19px 30px #300e79;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
